<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Page</title>
    </head>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        {% if name %}
            <h1>Patient {{name}}: </h1>
        {% endif %}
            <h1>Result: {{num}}</h1> 
        <div class="data_content_box">
            <div class = "data_form">
                <form method="POST" action="/confirm_data">
                    <input type="submit" value="Confirm Value">
                </form>
                <form method="POST" action="/read_data">
                    <input type="submit" value="Reload Value">
                </form>
                <div class="vessel_form">
                    <form method="post" action="{{url_for('change_current_vessel')}}">
                        <select id="vessel" name="vessel">
                            {% for vessel in vessels%}
                            <option value= "{{vessel}}">{{vessel}}</option>"
                            {% endfor %}                       
                        </select>
                        <input type="submit" value="Change Vessel">
                    </form>
                </div>
            </div>   
        </div>
        
        {% endblock %}
    </body>
</html>